<nav>
  <ul>
    <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
    <li><a routerLink="/users" routerLinkActive="active">Users</a></li>
    <li><a routerLink="/signup" routerLinkActive="active">Sign up</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<footer class="shortfooter ">
  <div><br><br/>
    <p>Written by: Vladyslav Hunko</p>
    <p>Contact information: <a href="mailto:vladyslav.o.hunko@gmail.com">
      vladyslav.o.hunko@gmail.com</a>.</p>
  </div>
</footer>
