<div class="table-responsive table-hover">
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of userService.list; let i = index">
      <td (click)="populateForm(user)">{{i + 1}}</td>
      <td (click)="populateForm(user)">{{user.firstName}}</td>
      <td (click)="populateForm(user)">{{user.lastName}}</td>
      <td (click)="populateForm(user)">{{user.email}}</td>
      <td>
        <button (click)="onDelete(user.id)" class="btn btn-sm btn-outline-danger">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
