/* You can add global styles to this file, and also import other style files */
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css");

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #5bc0de;
}

a:hover {
  color: white;
  text-decoration: none;
}

html {
  zoom: 120%;
}

footer a {
  color: #5bc0de;
}

footer {
  width: 100%;
  min-height: 20%;
  background-color: #333;
  text-align: center;
}

footer p {
  color: white;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -142px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 142px;
}

.shortfooter {
  position: absolute;
  bottom: 0;
  left: 0;
}
