<div class="col-md-6 mx-auto" style="margin-top:20px">
<form [formGroup]="reactForm" (submit)="onSubmit()" autocomplete="off">
    <input
      type="hidden"
      id="id"
      formControlName="id">
    <div class="form-group">
      <input type="text"
             id="firstName"
             formControlName="firstName"
             placeholder="First name"
             class="form-control"
             required>
      <div class="error" *ngIf="isControlInvalid('firstName')">First name must not be empty and written in Latin</div>
    </div>
    <div class="form-group">
      <input type="text"
             id="lastName"
             formControlName="lastName"
             placeholder="Last name"
             class="form-control"
             required>
      <div class="error" *ngIf="isControlInvalid('lastName')">Last name must not be empty and written in Latin</div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="email"
               name="email"
               id="email"
               formControlName="email"
               placeholder="E-mail"
               class="form-control"
               required>
        <div class="error" *ngIf="isControlInvalid('email')">Provide us your real e-mail</div>
      </div>
      <div class="form-group col-md-6">
        <input type="password"
               id="password"
               formControlName="password"

               placeholder="Password"
               class="form-control"
               required>
        <div class="error" *ngIf="isControlInvalid('password')">Password must consist minimum with 8 characters</div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-lg btn-block btn-outline-info">Submit</button>
    </div>

  </form>
</div>
